<!DOCTYPE html> 
<html>

    <head>
        <title>WeBalance</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="C:\Users\vkost\Documents\git\test\style.css">

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
        <script src= "C:\Users\vkost\Documents\git\test\script.js"></script>
    </head>
    <body>
        <!-- NAVBAR -->

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="#">@We Balance</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>   
                    <li>
                        <a class="nav-link active" href="{% url 'login' %}">Login</a>
                    </li>
                </ul>
            </div>  
        </nav>
        <!-- END OF NAVBAR -->
        <!-- SIDEBAR -->
        <button class="btn btn-primary" onclick="openNav()">Open</button>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">Home</a>
            <a href="#">Dashboard</a>
            <a href="#">Summary</a>
            <a href="#">Report</a>
            <a href="#">Preferences</a>
            <a href="#">Privacy Policy</a>
        </div>
        <!--END OF SIDEBAR-->

        <div id="main">
            <div class="jumbotron">
                <h1 class="display-4">Preferences</h1>
                <hr class="my-4">
                <p class="lead">Please input your working preferences for the upcoming week.</p>
            </div>

            <!-- OPTIONS  -->
            <div class = "row">
                <div class = "jumbotron col-sm-2" style="margin:10px">
                    <p> How many hours would you like to work this week?</p>
                    <form action="#" method="POST">
                        <select name="hours_worked" id="hour">
                        <option value="select">Select</option>
                        <option value="20">Less than 20</option>
                        <option value="20-40">20 to 40</option>
                        <option value="40">More than 40</option>
                        <option value="48">48+ (requires opt out)</option>
                        </select>
                        <input type="submit" value="Submit" />
                    </form>
                </div>

                <div class = "jumbotron col-sm-2" style="margin:10px">
                    <p> How many calls would you like to take this week?</p>
                    <form action="#" method="POST">
                        <select name="calls_taken" id="calls">
                        <option value="select">Select</option>
                        <option value="5">Less than 5</option>
                        <option value="5-15">5 to 15</option>
                        <option value="15">More than 15</option>
                        </select>
                        <input type="submit" value="Submit" />
                    </form>
                </div>

                <div class = "jumbotron col-sm-2" style="margin:10px">
                    <p> How many emails would you like to answer?</p>
                    <form action="#" method="POST">
                        <select name="emails_answered" id="email">
                        <option value="select">Select</option>
                        <option value="10">Less than 10</option>
                        <option value="10-20">10 to 20</option>
                        <option value="20">More than 20</option>
                        </select>
                        <input type="submit" value="Submit" />
                    </form>
                </div>
                <div class = "jumbotron col-sm-2" style="margin:10px">
                    <p> How many meetings would you like to attend this week?</p>
                    <form action="#" method="POST">
                        <select name="meetings_attended" id="meeting">
                        <option value="select">Select</option>
                        <option value="2">Less than 2</option>
                        <option value="2-5">2 to 5</option>
                        <option value="5">More than 5</option>
                        </select>
                        <input type="submit" value="Submit" />
                    </form>
                </div>
                <div class = "jumbotron col-sm-2" style="margin:10px">
                    <p> How many breaks would you like to take this week?</p>
                    <form action="#" method="POST">
                        <select name="breaks_taken" id="break">
                        <option value="select">Select</option>
                        <option value="1">Less than one a day</option>
                        <option value="1-3">1 to 3 a day</option>
                        <option value="3-5">3 to 5 a day</option>
                        <option value="5">More than 5 a day</option>
                        </select>
                        <input type="submit" value="Submit" />
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
